<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/79db2f66-5279-4f62-a19c-f21f3f59190f/resourcegroups/pruebas20221118164914ResourceGroup/providers/Microsoft.Web/sites/pruebas20221118164914</ResourceId>
    <ResourceGroup>pruebas20221118164914ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/79db2f66-5279-4f62-a19c-f21f3f59190f/resourceGroups/pruebas20221118164914ResourceGroup/providers/Microsoft.ApiManagement/service/pruebasapi/apis/pruebas</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://pruebas20221118164914.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>6a55408c-3252-46d5-9817-2b810f8f48d4</ProjectGuid>
    <MSDeployServiceURL>pruebas20221118164914.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>pruebas20221118164914</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$pruebas20221118164914</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>